nnoremap <F5> :!g++ -std=c++11 *.cpp && echo "Build ok" && ./a.out<cr>
nnoremap <F9> :!g++ -std=c++11 *.cpp<cr>

nnoremap <C-r> :!clear && g++ -std=c++11 -Wall *.cpp && echo "Build ok" && (date >> run.log) && (./a.out \| tee --append run.log) && (echo "" >> run.log) <cr>
nnoremap <C-b> :!clear && g++ -std=c++11 -Wall *.cpp<cr>
nnoremap <C-d> :!clear && g++ -g -std=c++11 -Wall *.cpp && ddd a.out<cr>
nnoremap <C-l> :!clear && cat run.log<cr>


